<!DOCTYPE html>
<html lang="en-US">
<head>
  <%== File.read('partials/head.html') %>
  <%== File.read('partials/article-head.html') %>
  <meta property="og:url" content="https://pineman.github.io/<%= post.url %>" />
  <meta property="article:published_time" content="<%= post.date.iso8601 %>" />
  <meta property="article:modified_time" content="<%= post.date.iso8601 %>" />
  <title><%= post.title %></title>
  <meta property="og:title" content="<%= post.title %>" />
  <meta name="description" content="<%= post.text_descr %>" />
  <meta property="og:description" content="<%= post.text_descr %>" />
  <meta property="og:image" content="https://pineman.github.io/assets/link_previews/<%= post.filename %>.png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:image:alt" content="<%= post.title %>" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@pineman_">
  <meta name="twitter:creator" content="@pineman_">
  <meta name="twitter:title" content="<%= post.title %>">
  <meta name="twitter:description" content="<%= post.text_descr %>">
  <meta name="twitter:image" content="https://pineman.github.io/assets/link_previews/<%= post.filename %>.png">
  <meta name="twitter:image:alt" content="<%= post.title %>">
</head>
<body>
<div id="wrap">
<a href="index.html">&lt; back</a>
<article>
  <header>
    <h1><%= post.title %></h1>
    <h5><time datetime="<%= post.date.iso8601 %>" pubdate="pubdate"><%= post.date.strftime("%Y-%m-%d") %></time></h5>
  </header>
<%== post.content %>
</article>
<a href="index.html">&lt; back</a>
</div>
</body>
<link rel="stylesheet" href="assets/oceanicnext.min.css">
<script src="assets/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<script>
  function copyHeadingLink(link) {
    const url = window.location.href.split('#')[0] + link.getAttribute('href');
    navigator.clipboard.writeText(url);
  }
</script>
</html>
