<!DOCTYPE html>
<html lang="en-US">
<head>
  <%== File.read('partials/head.html') %>
  <%== File.read('partials/article-head.html') %>
  <% system("sed -i 's|\\?utm_source=substack&utm_medium=email||g' posts/what-i-read.txt") %>
  <% file = File.new("posts/what-i-read.txt") %>
  <meta property="og:url" content="https://pineman.github.io/what-i-read.html" />
  <meta property="article:published_time" content="<%= file.mtime.iso8601 %>" />
  <meta property="article:modified_time" content="<%= file.mtime.iso8601 %>" />
  <title>What I read</title>
  <meta property="og:title" content="What I read" />
  <meta name="description" content="What I read" />
  <meta property="og:description" content="What I read" />
</head>
<body>
<div id="wrap">
<a href="index.html">&lt; back</a>
<article>
  <h1>Some of what I read on the internets</h1>
  <div class="icon-container">
    <i class="fa-brands fa-goodreads"></i>
  </div>
  <a href="https://www.goodreads.com/review/list/30442257-jo-o-pinheiro?order=d&shelf=read-computer" target="_blank">Goodreads</a>
<% file.readlines.each do |l| %>
  <% l.strip! %>
  <% if l.match?(/^# /) %>
    <h4><%= l[2..] %></h4>
    <ul>
  <% elsif l.match?(/^https?:\/\//) %>
    <% url, descr = l.split(" ", 2) %>
    <li><a href="<%= url %>"><%= url %></a> <%= descr %></li>
  <% elsif l.empty? %>
    </ul>
  <% else %>
    <li><%= l %></li>
  <% end %>
<% end %>
</article>
<a href="index.html">&lt; back</a>
</div>
</body>
</html>
