<% root = "../" %>
<!DOCTYPE html>
<html lang="en-US">
<head>
  <%== render_erb('templates/head.html.erb', binding) %>
  <%== render_erb('templates/article-head.html.erb', binding) %>
  <meta property="og:url" content="<%= SITE_ROOT %>/notes/<%= note.name %>.html" />
  <title><%= note.name %></title>
  <meta property="og:title" content="<%= note.name %>" />
</head>
<body>
<div id="wrap">
<a href="<%= root %>notes.html">&lt; back</a>
<article>
  <h1><%= note.name %></h1>
  <%== note.html %>
</article>
<a href="<%= root %>notes.html">&lt; back</a>
</div>
</body>
</html>
