<%= File.read('partials/head.html') %>
<%= File.read('partials/article-head.html') %>
  <link rel="stylesheet" href="assets/oceanicnext.min.css">
  <script src="assets/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
  <meta property="og:url" content="https://pineman.github.io/<%= post.url %>" />
  <meta property="article:published_time" content="<%= post.time.gsub('/', '') %>" />
  <meta property="article:modified_time" content="<%= post.time.gsub('/', '') %>" />
  <title><%= post.title %></title>
  <meta property="og:title" content="<%= post.title %>" />
  <meta name="description" content="<%= post.title %>" />
  <meta property="og:description" content="<%= post.title %>" />
</head>
<body>
<div id="wrap">
<a href="index.html">&lt; back</a>
<article>
<%= post.content %>
</article>
<a href="index.html">&lt; back</a>
</div>
</body>
</html>
