<%= File.read('partials/head.html') %>
<%= File.read('partials/article-head.html') %>
  <meta property="og:url" content="https://pineman.github.io/what-i-read.html" />
  <meta property="article:published_time" content="<%= date.iso8601 %>" />
  <meta property="article:modified_time" content="<%= date.iso8601 %>" />
  <title>What I read</title>
  <meta property="og:title" content="What I read" />
  <meta name="description" content="What I read" />
  <meta property="og:description" content="What I read" />
</head>
<body>
<div id="wrap">
<a href="index.html">&lt; back</a>
<article>
  <h1>An incomplete list of what I read/heard/saw (<a href="https://www.goodreads.com/review/list/30442257-jo-o-pinheiro?order=d&shelf=read-computer" target="_blank">books</a>)</h1>
  last updated: <%= date.strftime('%Y-%m-%d') %>
<%= content %>
</article>
<a href="index.html">&lt; back</a>
</div>
</body>
</html>
